.App {
  text-align: center;
}

div {
  white-space: pre-wrap;
}

.Title {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  align-content: center;
  padding-left: 1em;
  margin-bottom: 2em;
  background-color: rgb(0, 103, 198);
  color: #fff;
}

.Title-Subtitle {
  margin-top: -1em;
  padding-bottom: 1.5em;
}

.card {
  width: 60%;
  height: 260px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: thin solid rgb(0, 103, 198);
}

.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card-text {
  width: 60%;
}

a.card-text {
  font-size: 1.5em;
  padding: 10px;
  width: 60%;
}

a.card-body {
  width: 100%;
}
